@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes barberpole {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 12px 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
